<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">UserName</label>
    <input type="text" class="form-control" ng-model="user.name" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Age</label>
    <input type="text" class="form-control" ng-model="user.age" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
</form>